body {
    font-family: "Oswald", sans-serif;
  }
  
  /*---------------------------------
      61. PAGE LOADER
  ---------------------------------*/
  .page-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d2333;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }
  
  .page-loader.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .page-loader .page-loader-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 28px;
    background-color: #7750f8;
  }
  
  .page-loader .page-loader-decoration .icon-logo {
    fill: #fff;
    width: 36px;
    height: 52px;
  }
  
  .page-loader .page-loader-info .page-loader-info-title,
  .page-loader .page-loader-info .page-loader-info-text {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  
  .page-loader .page-loader-info .page-loader-info-title {
    margin-top: 24px;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
  }
  
  .page-loader .page-loader-info .page-loader-info-text {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 700;
  }
  
  .page-loader .page-loader-indicator {
    margin-top: 60px;
  }
  
  /*---------------------
      1. LOADER BARS
  ---------------------*/
  .loader-bars {
    display: flex;
    justify-content: center;
    height: 40px;
  }
  
  .loader-bars .loader-bar {
    width: 4px;
    height: 100%;
    margin-right: 4px;
    border-radius: 200px;
    transform: scaleY(0.2);
    animation: loader-bars 0.5s infinite alternate ease-in;
  }
  
  .loader-bars .loader-bar:last-child {
    margin-right: 0;
  }
  
  .loader-bars .loader-bar:nth-child(1) {
    background-color: #41d04f;
  }
  
  .loader-bars .loader-bar:nth-child(2) {
    background-color: #50d551;
    animation-delay: 0.1s;
  }
  
  .loader-bars .loader-bar:nth-child(3) {
    background-color: #67dc55;
    animation-delay: 0.2s;
  }
  
  .loader-bars .loader-bar:nth-child(4) {
    background-color: #7de358;
    animation-delay: 0.3s;
  }
  
  .loader-bars .loader-bar:nth-child(5) {
    background-color: #99eb5c;
    animation-delay: 0.4s;
  }
  
  .loader-bars .loader-bar:nth-child(6) {
    background-color: #b1f35f;
    animation-delay: 0.5s;
  }
  
  .loader-bars .loader-bar:nth-child(7) {
    background-color: #c7f962;
    animation-delay: 0.6s;
  }
  
  .loader-bars .loader-bar:nth-child(8) {
    background-color: #d6fe65;
    animation-delay: 0.7s;
  }
  
  @keyframes loader-bars {
    0% {
      transform: scaleY(0.2);
    }
    100% {
      transform: scaleY(1);
    }
  }
  