.panel-header {
    height: 120px;
    padding-top: 80px;
    padding-bottom: 45px;
    background: #016b1c;
    background: linear-gradient(160deg,#4f0783 0%,#2ca8ff 100%);
    background-size: 105%;
    position: relative;
    overflow: hidden
}