<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container ">
  <form form [formGroup]="SetupFrom" (ngSubmit)="onSubmit()">
    <div class="form">
      <div class="note">
        <p> This is a Setup Register .</p>
      </div>

      <div class="form-content">
        <div class="row">
          <!-- Col 1 -->
          <div class="col-md-6">
            <h3 style="color: rgba(64, 64, 255, 0.607);"> Setup :</h3>
            <div class="form-group">
              <input type="text" placeholder="name *" id="name" name="name" formControlName="name" class="form-control">
            </div>

          </div>
          <!-- Col 2 -->

          <div class="col-md-6">

            <h3 style="color: rgba(64, 64, 255, 0.607);"> _</h3>
            <div class="form-group">
              <input type="text" id="name" name="name" formControlName="cle" class="form-control">
            </div>

          </div>
        </div>
      </div>
      <div class="note">
        <p> Enter your Scenario .</p>
      </div>


      <div class="form-group" formArrayName="scenarios">
        <div class="form-group" *ngFor="let scenario of scenarios().controls; let i=index" [formGroupName]="i">

          <div class="form-content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="name Scenario *" id="nameScn" name="nameScn" formControlName="name"
                    class="form-control">
                </div>
                <div class="form-group" *ngFor="let parameter of ListParamters; let i = index">
                  <div class="row" >
                    <div class="col-md-6">
                      <div class="form-group mb-1">
                        Keys {{i+1}}:
                        <input type="text" [value]="parameter.clee" readonly class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      Values {{i+1}}:
                      <input type="text" #valueType (change)="setValueInPlace(i,valueType.value)" class="form-control">
                    </div>
                  </div>
                </div>
                

                <!--  
          <div class="form-group" >
        <input type="text" placeholder="erreurMsg *" formControlName="erreurMsg"  class="form-control">
      </div>-->
                <!--
      <div class="form-group" >
        <input type="text" placeholder="success *"  formControlName="success" class="form-control">
</div>-->
                <!--
<div class="form-group" >
        <input placeholder="pauseTime *" type="text" formControlName="pauseTime" class="form-control">
</div>-->
              </div>
              <div class="col-md-6">
                <!-- <div class="form-group" >
        <input placeholder="duration *" type="text" formControlName="duration" class="form-control">
       </div> -->
                <!--
       <div class="form-group" >
       <input placeholder="tryMax *" type="number" formControlName="tryMax" class="form-control">
      </div> -->
                <!--
      <div class="form-group" >
        <input placeholder="eapsedTime *" type="text" formControlName="eapsedTime" class="form-control">
 </div> -->

                <div class="form-group">

                  <select class="form-control" formControlName="path" (change)="selectPath($event)">
                    <option value="" disabled selected>Select a Path</option>
                    <option *ngFor="let Path of pathOptions" [value]="Path.name">{{ Path.name}}

                    </option>
                  </select>
                </div>


              </div>
            </div>
            <h1 class="reveal-text">
              Select Your Type Of test :
            </h1>


            <p-toast position="top-center"></p-toast>
            <div *ngFor="let nb of radioIndices; let i = index">

           
            <!--Type SetUp -->
            <div class="row">
              <div class="col-md-4">
                <input type="radio" value="SOAK_LOAD" #typeTest6 formControlName="typeTest"
                  (change)="setValue($event, scenario)" id="option1" class="input-hidden" />
                <label for="option1">
                  <img src="/assets/Back/img/SoakLoad.png" alt="image 1" />

                </label>
                <p class="image-text">Soak Load Test <a href="javascript:void(0);"
                    (click)="explication_TypeTest('soakLoadTest')">?</a></p>

              </div>
              <div class="col-md-4">
                <input value="STRESS_LOAD_TEST" #typeTest7 formControlName="typeTest"
                  (change)="setValue($event,scenario)" type="radio" id="option2" class="input-hidden" />
                <label for="option2">
                  <img src="/assets/Back/img/StressLoad.png" alt="image 2" />
                </label>
                <p class="image-text">Stress Load Test <a href="javascript:void(0);"
                    (click)="explication_TypeTest('stressLoadTest')">?</a></p>
              </div>
              <div class="col-md-4">
                <input value="CONSTANT_LOAD" #typeTest7 formControlName="typeTest" (change)="setValue($event, scenario)"
                  type="radio" id="option3" class="input-hidden" />
                <label for="option3">
                  <img src="/assets/Back/img/CONSTANT_LOAD_TEST.png" alt="image 3" />
                </label>

                <p class="image-text">Constant Load Test <a href="javascript:void(0);"
                    (click)="explication_TypeTest('constantloadTest')">?</a></p>
              </div>

            </div>
            </div>

            <!-- -->

            <div *ngFor="let i of typeTestChoising2; let index = index">

            <div *ngIf=" checkWichType(typeTestChoising2,scenario) === 'SOAK_LOAD' ">
              <div class="row">
                <div class="col-md-4">
                  <label>Start with a delay :</label>
                  <input placeholder="NothingFor *" type="text" formControlName="name" class="form-control">
                </div>
              </div>
              <div class="row">
                <label>Constant load of __ users per second for __ hour:</label>
                <div class="col-md-4"> <input placeholder="atOnceUsers *" type="text" formControlName="name"
                    class="form-control">
                </div>
                <div class="col-md-4"> <input placeholder="during *" type="text" formControlName="name"
                    class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
              <label>End with a delay :</label>
              <input placeholder="NothingFor *" type="text" formControlName="name" class="form-control">
            </div>
          </div>
          </div>
            <div *ngIf=" checkWichType(typeTestChoising2,scenario) === 'STRESS_LOAD_TEST' ">
              <div class="row">
               
                <div class="col-md-4"> 
                  <label>Constant nbr users per sec:</label>
                  <input placeholder="constantUsersPerSec *" type="text" formControlName="name"
                    class="form-control">
                </div>
                <div class="col-md-4">
                  <label> during periode in seconds:</label>
                   <input placeholder="during *" type="text" formControlName="name"
                    class="form-control">
                </div>
              </div>
              <div class="row">
               
                <div class="col-md-4">
                  <label>stressPeakUsers to Hight Nbr suddenly :</label>
                  <input placeholder="stressPeakUsers *" type="text" formControlName="name"
                    class="form-control">
                </div>
                <div class="col-md-4">
                  <label>during periode in second :</label>
                  <input placeholder="during *" type="text" formControlName="name"
                    class="form-control">
                </div>
              </div>

            </div>  
            <div *ngIf=" checkWichType(typeTestChoising2,scenario) === 'CONSTANT_LOAD' ">
              <div class="row">
               
                <div class="col-md-4"> 
                  <label>Constant load of Nbr users per sec:</label>
                  <input placeholder="constantUsersPerSec *" type="text" formControlName="name"
                    class="form-control">
                </div>
                <div class="col-md-4">
                  <label> during periode in seconds:</label>
                   <input placeholder="during *" type="text" formControlName="name"
                    class="form-control">
                </div>
              </div>
          

            </div>


          </div>


          </div>
          <div>
            <button type="button" (click)="removeQuantity(i)" class="fas fa-trash-alt  delete-icon">Remove</button>
          </div>
        </div>

        <div>
          <button type="button" (click)="addSen()" class="btnAdd">Add </button>

        </div>
      </div>
      <div>
        <button (click)="onSubmit()" type="submit" class="btn btn-success">Submit</button>
        <h4 style="color: black;"> {{this.SetupFrom.value | json}}</h4>
      </div>

    </div>
  </form>
</div>
<button class="go-back-button" (click)="goBack()">
  <i class="fas fa-arrow-left"></i> Go Back
</button>