.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.noteA
{
    text-align: center;
 
    color: #d8347b;
    font-weight: bold;
  
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    left: 1000px;
    border:none;
    border-radius:1.52rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
 
}
.submit-button {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.btnAdd
{

    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0ecc00;
    color: #fff;
 
}
.delete-icon {
    color: red;
    border: #c31c1c;
   
  }
  .edit-icon {
    color: #36ad50;
    border: #36ad50;
  }
.btnRemove
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #cc0a00;
    color: #eae2e2;
}
.fas fa-trash-alt{
    background: #cc0a00;
   
}
.go-back-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    display: inline-block;
  }
  
  /* Styling for the arrow icon */
  .go-back-arrow {
    width: 10px; /* Adjust the arrow size as needed */
    height: 10px;
    fill: #fff; /* Arrow color (white) */
    margin-right: 5px; /* Add some spacing between the arrow and text */
    vertical-align: middle;
  }
  .form-control.ng-touched.ng-invalid {
    border-left: 5px solid red;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
  }
  .form-control.ng-valid {
    border-left: 6px solid greenyellow;
    box-shadow: 0 0 0 2px rgba(50, 205, 50, 0.2);
  }
  .error-message{
color: red;
font-size: 12px;
margin-top: 5px;
  }
  .btnAddOff
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #c3c3c3;
    color: #fff;
}
.go-back-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    display: inline-block;
  }
  
  /* Styling for the arrow icon */
  .go-back-arrow {
    width: 10px; /* Adjust the arrow size as needed */
    height: 10px;
    fill: #fff; /* Arrow color (white) */
    margin-right: 5px; /* Add some spacing between the arrow and text */
    vertical-align: middle;
  }
  btn btn-success{
    left : 1000px;
    width: 100px;
  }
  btn btn-d{
    width: 100px;
  }
  * {
    font-family: Lato;
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #ffc107;
    --box-shadow: #ffc107;
  
  }
  
  .cont-bg {
    min-height: 100vh;
    background-image: radial-gradient(
      circle farthest-corner at 7.2% 13.6%,
      rgba(37, 249, 245, 1) 0%,
      rgba(8, 70, 218, 1) 90%
    );
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cont-main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .cont-checkbox {
    width: 200px;
    height: 250px;
    border-radius: var(--border-radius);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform var(--transition);
    background: white;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    &:active {
      transform: scale(0.9);
    }
    input {
      display: inline-block;
      &:checked + label {
        opacity: 1;
        box-shadow: 3 0 0 0px var(--background);
        .cover-checkbox {
          opacity: 1;
          transform: scale(1);
          svg {
            stroke-dashoffset: 0;
          }
        }
        img {
          -webkit-filter: none; /* Safari 6.0 - 9.0 */
          filter: none;
        }
      }
    }
    label {
      cursor: pointer;
      border-radius: var(--border-radius);
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0.6;
      
      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      .cover-checkbox {
        box-shadow: 0 0 0 3px #6598e5;
        position: absolute;
        right: 5px;
        top: 3px;
        z-index: 1;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: var(--box-shadow);
        border: 2px solid #fff;
        transition: transform var(--transition),
          opacity calc(var(--transition) * 1.2) linear;
        opacity: 0;
        transform: scale(0);
        svg {
          width: 13px;
          height: 11px;
          display: inline-block;
          vertical-align: top;
          fill: none;
          margin: 5px 0 0 3px;
          stroke: #fff;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          transition: stroke-dashoffset 0.4s ease var(--transition);
          stroke-dashoffset: 16px;
        }
      }
      .info {
        text-align: center;
        margin-top: 0.2rem;
        font-weight: 600;
        font-size: 0.8rem;

      }
    }
  }
  .cont-checkbox {
    display: inline-block;
    margin: 40px;
    box-shadow: 0 0 0 3px #d740bf;
  
    input[type="radio"] {
      display: inline-block;
 

    }
  
    label {
      position: relative;
      cursor: pointer;
      box-shadow: 0 0 0 3px #d740bf;
  
      .img {
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        transition: border-color 0.3s;
  
        &:hover {
          border-color: #007bff;
        }
      }
  
      .info {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        opacity: 0;
        transition: opacity 0.3s;
      }
  
      &:hover .info {
        opacity: 1;
      }
    }
  }
  .col-md-6{
    padding: 40px;
  }
  .input-hidden {
    position: absolute;
    left: -9999px;
   
  }
  
  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px greenyellow;
  }
  
  input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 100ms all;
     margin-left: 70px;
  }
  
  html {
    background-color: #22fe00;
    background-size: 100% 1.2em;
    background-image: 
      linear-gradient(
        90deg, 
        transparent 79px, 
        #22fe00 79px, 
        #22fe00 81px, 
        transparent 81px
      ),
      linear-gradient(
        #22fe00 .1em, 
        transparent .1em
      );
   
  }
  
:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 2vw;
	animation-name: clip-text;
	color: #000000;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #224abe;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}


@use postcss-preset-env {
	stage: 0;
	browsers: [
		"last 1 Chrome versions",
		"last 1 Firefox versions",
		"last 1 Safari versions",
		"last 1 Edge versions"
	]
}
.image-text {
  text-align: center;
}
.description {
  display: block;
  margin-top: 5px;
  color: #666;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}

.centered-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 !important;
  overflow-y: auto !important;
  padding: 0 !important;
  position: fixed;
  width: 100%;
  z-index: 10000; /* Ensure the dialog appears above other content */
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 3.3em;
}

/* Hide default HTML checkbox */
.switch .chk {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 2.4em;
  border-radius: 5px;
  left: -0.6em;
  top: 0.2em;
  background-color: white;
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  transition: .4s;
}

.slider:before, .slider:after {
  content: "";
  display: block;
}

.slider:after {
  background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%) rotate(90deg);
  transform-origin: 25% 50%;
  position: relative;
  top: 0.5em;
  left: 0.55em;
  width: 2em;
  height: 1em;
  box-sizing: border-box;
}

.chk:checked + .slider {
  background-color: limegreen;
}

.chk:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

.chk:checked + .slider:before {
  transform: translateY(2.3em);
}

.chk:checked + .slider:after {
  transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
}
/*! Explain test Css!*/
.button-expalin {
  position: relative;
  list-style: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: grab;
  padding-top: 10px;
}

.button-expalin .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s;
}

.button-expalin .svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #f4af03;
  opacity: 0;
  transition: opacity 0.3s;
}

.button-expalin:hover .svg {
  fill: #f4af03;
}

.button-expalin:hover .svg2 {
  opacity: 1;
  fill: #f4af03;
}
  /*? Add Scenario item */
  .button-add {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid  greenyellow;
    background-color: greenyellow;
  }
  
  .button-add, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-add .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button-add .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-add .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button-add:hover {
    background: #34974d;
  }
  
  .butbutton-addton:hover .button__text {
    color: transparent;
  }
  
  .button-add:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
  /*!! play setup button*/
  .game-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #007bff;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .play-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: 10px;
  }
  
  .game-button:hover {
    background-color: #2f3640;
    color: #799bff;
    box-shadow: 2px 2px 20px #2f3640;
    transform: translateY(-2px);
  }
  /* Space bettwen */
  .row-buton {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 13vw; /* Adjust the percentage value as needed */
    margin-left: 13vw;
    justify-content: space-between;
  }

