



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container register-form">
  <form #pathForm="ngForm">
            <div class="form" >
                <div class="note">
                    <p> This is a Path Register .</p>
                </div>

                <div class="form-content">
                    <div class="row">
                            <!-- Col 1 -->
                        <div class="col-md-6">
                          <h3 style="color: rgba(64, 64, 255, 0.607);"> Path :</h3>
                            <div class="form-group">
                              <input type="text" name="name" class="form-control"
                                placeholder="name *" [(ngModel)]="path.name" >
                            </div>
                            <div class="form-group">
                              <input  type="text" name="path" class="form-control"
                              placeholder="le path *" [(ngModel)]="path.path" >
                            </div>
                            <div class="form-group">
                            <select  class="form-control"name="requestType" id="inputGroupSelect01" [(ngModel)]="path.requestType" >
                              <option value="get">GET</option>
                              <option value="post">POST</option>
                              <option value="put">PUT</option>
                              <option value="delete">DELET</option>
                            </select> 
                          </div>
                        </div>
                        <!-- Col 2 -->
                  
                        <div class="col-md-6">
                     
                            <h3 style="color: rgba(64, 64, 255, 0.607);"> Parameters :</h3>
                        
                            <div class="form-group">

                             
                                  <div  class="input-field" >
                                    <input  type="text" name="clee" [(ngModel)]="param.clee"  class="form-control"
                                           placeholder="Key *"  >
                                  </div>
                                
                              
                              
                             
                              <button  class="btnAdd" (click)="MakeChange(pathForm)"    > + </button> 
                            </div>
                              <div class="form-group">
                              <select class="form-control" [(ngModel)]="param.paramType"  name="paramType" id="inputGroupSelect01"  >
                                <option value="QUERRY_PARAM">QUERRY_PARAM</option>  
                                <option value="PATH_VARIABLE">PATH_VARIABLE</option>
                              </select>
                              </div>
                    
                            </div>
                       
                        </div>
                    </div>
                    <button type="button" class="btnSubmit" (click)="affectPathToApp(path)" [disabled]="pathForm.invalid" >Submit</button>
                </div>
          
            </form>
        </div>
        <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Parameters List
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
 
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center"> Key</th>
    
            <th class="text-center"> Parmaeter Type</th>
            <th class="text-center">Operation</th>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListParameters" ><!-- For-->

            <td class="pt-3-half" contenteditable="true">{{item.clee}}</td>
            <td class="pt-3-half" contenteditable="true">{{item.paramType}}</td>
          
            
            <td>
              <p-toast></p-toast> 
              <p-confirmDialog></p-confirmDialog>
              <span class="table-remove"
                ><button type="button" class="btn btn-danger" (click)="remove (item)">
                  Remove
                </button></span>
             
                <span class="table-remove" style="margin-left: 20px;"
                ><button type="button" class="btn btn-success"  (click)="setParametersData(item)" >
                  Update
                </button></span>
            </td>
          </tr>
          <!-- This is our clonable table line -->
          
          <!-- This is our clonable table line -->
         
          <!-- This is our clonable table line -->
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
