<br>
<br>
<br>
<section  class="vh-100" style="background-color: rgb(236, 236, 224);">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h3>Modify Application...</h3>
<form #carForm="ngForm" >
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="app.name" required>
    </div>
  
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="volume" [(ngModel)]="app.description" required>
    </div>
  
    <div class="form-group">
      <label>Date</label>
      <input type="date" class="form-control" name="wheight" [(ngModel)]="app.date" required>
    </div>
  
    <div class="form-group">
        <label>Note</label>
        <input type="text" class="form-control" name="wheight" [(ngModel)]="app.note" required>
      </div>
      <div class="form-group">
        <label>numPort</label>
        <input type="text" class="form-control" name="wheight" [(ngModel)]="app.numPort" required>
      </div>
      <div class="form-group">
        <label>Protocol</label>
        <input type="text" class="form-control" name="wheight" [(ngModel)]="app.protocol" required>
      </div>
  
      <div class="form-group">
        <label>BasicUrl</label>
        <input type="url" class="form-control" name="wheight" [(ngModel)]="app.basicUrl" required>
      </div>
  
    <div class="form-group">
      <button class="btn btn-danger btn-block" (click)="onSubmit()"  routerLink="/admin/listapp">Save </button>
    </div>
  </form>

<!--
<div class="container register-form">
  <form form #carForm="ngForm">
    <div class="form">
      <div class="note">
        <p> Modify Application.</p>
      </div>

      <div class="form-content">
        <div class="row">
          <!-- Col 1 -->
        
        <!--    <h3 style="color: rgba(64, 64, 255, 0.607);"> About Details:</h3>
            <div class="form-group">
              <input matInput type="name" name="name" class="form-control" placeholder="name *" [(ngModel)]="app.name"
                formControlName="name">
            </div>
            <div class="form-group">
              <input matInput type="" class="form-control" placeholder="Description *" [(ngModel)]="app.description"
                formControlName="path">
            </div>
            <div class="form-group">
              <input matInput type="date" class="form-control" placeholder="Description *" [(ngModel)]="app.date"
                formControlName="path">
            </div>
            <div class="form-group">
              <input matInput type="text" class="form-control" placeholder="Note *" [(ngModel)]="app.note"
                formControlName="path">
          
            </div>

            <!-- Col 2 -->




        <!--    <div class="form-group">
              <input matInput type="number" class="form-control" placeholder="numPort *" [(ngModel)]="app.numPort"
                formControlName="path">
            </div>
            <div class="form-group">
              <input matInput type="text" class="form-control" placeholder="protocol *" [(ngModel)]="app.protocol"
                formControlName="path">
            </div>
            <div class="form-group">
              <input matInput type="text" class="form-control" placeholder="basicUrl *" [(ngModel)]="app.basicUrl"
                formControlName="path">
            </div>
       

        </div>
        <button type="button" class="btnSubmit" (click)="onSubmit()" routerLink="/admin/listapp"
        [disabled]="carForm.invalid">Save</button>
      </div>

    </div>
   
  </form>
</div>-->