.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    margin-left: 790px;
}
.btnAdd
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0ecc00;
    color: #fff;
}
.btnRemove
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #cc0a00;
    color: #fff;
}
.form-control.ng-touched.ng-invalid {
    border-left: 5px solid red;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
  }
  .form-control.ng-valid {
    border-left: 6px solid greenyellow;
    box-shadow: 0 0 0 2px rgba(50, 205, 50, 0.2);
  }
  .go-back-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    display: inline-block;
  }
  
  /* Styling for the arrow icon */
  .go-back-arrow {
    width: 10px; /* Adjust the arrow size as needed */
    height: 10px;
    fill: #fff; /* Arrow color (white) */
    margin-right: 5px; /* Add some spacing between the arrow and text */
    vertical-align: middle;
  }
  .error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
      }