<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
<form form #carForm="ngForm">
  <div class="form">
    <div class="note">
        <p> {{operation}}</p>
    </div>

    <div class="form-content">
        <div class="row">
                <!-- Col 1 -->
            <div class="col-md-6">
              <h3 style="color: rgba(64, 64, 255, 0.607);"> App :</h3>
                <div class="form-group">
                  <input type="text"placeholder="name *" name="name" ngModel #name ="ngModel" class="form-control" [(ngModel)]="app.name" pattern="^\S.*\S$" required>
                </div>
                <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                  <div class="error-message" *ngIf="name.errors?.['required']">
                   Name App can't be blank 
                    </div>
                    <div class="error-message" *ngIf="name.errors?.['pattern']">
                      Name App can't consist of only spaces
                      </div>
                </div>
                <div class="form-group">
                  <input type="text"placeholder="Description *" class="form-control" ngModel #description ="ngModel"  name="description" [(ngModel)]="app.description" pattern="^\S.*\S$" required>
                </div>
                <div class="alert alert-danger" *ngIf="description.touched && !description.valid">
                  <div class="error-message" *ngIf="description.errors?.['required']">
                    Description can't be blank 
                    </div>
                    <div class="error-message" *ngIf="description.errors?.['pattern']">
                      Description can't consist of only spaces
                      </div>
                </div>
                <div class="form-group">
                  <input type="url" placeholder="basicUrl *" class="form-control" ngModel #basicUrl ="ngModel" name="basicUrl" [(ngModel)]="app.basicUrl" pattern="^\S.*\S$" required>
                </div>
                <div class="alert alert-danger" *ngIf="basicUrl.touched && !basicUrl.valid">
                  <div class="error-message" *ngIf="basicUrl.errors?.['required']">
                    Basic Url can't be blank 
                    </div>
                    <div class="error-message" *ngIf="basicUrl.errors?.['pattern']">
                      basicUrl can't consist of only spaces
                      </div>
                </div>
            </div>
            <!-- Col 2 -->

            <div class="col-md-6">

                <h3 style="color: rgba(64, 64, 255, 0.607);"> _</h3>
                <div class="form-group">
                  <input type="number" placeholder="numPort *" class="form-control"ngModel #numPort ="ngModel"  name="numPort" [(ngModel)]="app.numPort"  min="1000" max="9999">              
                  </div>
                  <div class="alert alert-danger" *ngIf="numPort.touched && !numPort.valid">
                    <div class="error-message" *ngIf="numPort.errors?.['min']">
                      minmum 4 chifres
                      </div>
                      <div class="error-message" *ngIf="numPort.errors?.['max']">
                        maximum 4 chifres
                        </div>
                  </div>
                  <div class="form-group">
                  <input type="text"placeholder="protocol *" class="form-control"ngModel #protocol ="ngModel" name="protocol" [(ngModel)]="app.protocol" required pattern="^((http|https|mqtt)([a-z]*[A-Z][a-z]*)?)$">
                </div>
                <div class="alert alert-danger" *ngIf="protocol.touched && !protocol.valid">
                  <div class="error-message" *ngIf="protocol.errors?.['required']">
                    protocol Url can't be blank 
                    </div>
                    <div class="error-message" *ngIf="protocol.errors?.['pattern']">
                    We only use http/mqtt protocol 
                      </div>
                </div>
      
            
            </div>
            </div>
        </div>

                  
        <button type="button" class="btnSubmit" (click)="onSubmit()" 
        [disabled]="carForm.invalid">Save</button>
      </div>
      </form>
      </div>
      <button class="go-back-button" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Go Back
      </button>