<div class="top">
    <nav class="nav">
        <div class="nav-inner">
            <h1 class="logo">GitPulse</h1>
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log In</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="hero-tag">
            <div class="hero-tag-inner">
                <span class="hero-tag-line">Fork</span>
                <span class="hero-tag-line">Pull</span>
                <span class="hero-tag-line">Push</span>
                <span class="hero-tag-line">Repeat.</span>
            </div>
        </div>
        <div class="hero-text">
            <div class="hero-text-inner">
                <p class="hero-text-content">Great workflows should be simple. Find harmony with your Git workflow using GitPulse's real-time analytics and visualizations.</p>
                <a class="button" href="#">Find out how</a>
            </div>
        </div>
    </div>
</div>
